apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-170313474
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-170313474
    app.kubernetes.io/part-of: test-app-170313474
  name: go-170313474
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-170313474
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-170313474
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/7y3apz2j-tenant/test-app-170313474/go-170313474@sha256:265a65e0cebdaafefee133179a9a60e48f58090fd8ff1a1b3704b0b21a3d4ac7
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
