apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-170313474
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/7y3apz2j-tenant/test-app-170313474/go-170313474@sha256:d31bbafa28e2685058163bc2cfad3ab7909a1e3e8be9c1cb86b07f29c0ad8174
        name: my-go
        resources: {}
status: {}
